TITLE
Page not found - Vincent Cicirello - Professor of Computer Science

DESCRIPTION
Page not found - Vincent Cicirello - Professor of Computer Science

PAGE_STYLE
#search_input { max-width: 210px; padding: 8px; border: 2px solid #862d2d; outline: 0; margin: 0; vertical-align:bottom;}
#submit_button {margin-left:5px; font-weight:bold; font-size:1.4em; color:#862d2d; background-color: #f6f0bb; text-align:center; border: 2px solid #862d2d; padding: 0px 8px 2px 8px; vertical-align:bottom;}
#submit_button:hover { background-color: #305030; color: white; }


CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>404</h2>
<p><strong>File not found.</strong></p>
<p>This site does not contain the requested page. Use the menu in the site header above, or the search box below, to find what you are looking for.</p>
<form action="/search/">
<input type="search" name="q" id="search_input" pattern=".{3,}" title="At least 3 characters" required>
<input id="submit_button" type="submit" value="&#x2315">
<div style="clear: both;"></div>
</form>
</article>