TITLE
Privacy Policy

DESCRIPTION
Our privacy policy is simple.  We do not collect any personally identifiable information.  In fact, we don't collect
any information from the visitors of our website.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Privacy Policy</h2>
<p>Last updated: May 7, 2018.</p>
<p>Our privacy policy is simple.  We do not collect any personally identifiable information.  In fact, we don't collect
any information from the visitors of our website.</p>
</article>