TITLE
Open Source Software - Vincent Cicirello - Professor of Computer Science

DESCRIPTION
Open source software, including scheduling problem instance generators, from the research of Vincent Cicirello.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Open Source Software</h2>
<p>My open source software is available at the following sites:</p>
<ul>
<li><a href="https://github.com/cicirello"><img alt="Explore my open source projects on
GitHub" src="/images/mark-github-16.svg" width="20" height="20"> GitHub</a>
<ul>
<li><a href="https://github.com/cicirello">My GitHub profile</a>, with source-code repositories, etc</li>
<li><a href="https://gist.github.com/cicirello">GitHub gists</a></li>
</ul></li>
<li><a href="https://search.maven.org/search?q=g:org.cicirello"><img alt="Maven Central artifacts" src="/images/maven.svg" width="20" height="20"> Maven Central artifacts</a></li>
<li><a href="https://hub.docker.com/u/cicirello"><img alt="Docker Hub containers" src="/images/docker.svg" width="20" height="20"> Containers on Docker Hub</a></li>
</ul>

<section>
<h3>Permutations and Sequences</h3>
<p></p>
<ul>
<li itemscope itemtype="https://schema.org/SoftwareSourceCode" itemref="pageAuthor"><strong itemprop="name">JavaPermutationTools:
A Java API for computation on permutations and sequences</strong>:
<span itemprop="description">The JavaPermutationTools (JPT) API provides Java classes that enable representing and generating permutations and sequences, as well as performing computation on permutations and sequences, such as implementations of a variety of permutation distance metrics as well as distance metrics on sequences (i.e., Strings, arrays, and other ordered data types).</span>
<ul>
<li><a itemprop="url" href ="https://jpt.cicirello.org/">Project page</a>, including API documentation.</li>
<li><a itemprop="codeRepository" href="https://github.com/cicirello/JavaPermutationTools">GitHub Repository</a></li>
<li>Language: <span itemprop="programmingLanguage">Java</span></li>
<li>License: <a itemprop="license" href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License Version 3 (GPLv3)</a>.</li>
</ul></li>
</ul>
</section>

<section>
<h3>Cluster Computing</h3>
<p></p>
<ul>
<li itemscope itemtype="https://schema.org/SoftwareSourceCode" itemref="pageAuthor"><strong itemprop="name">Performance Tests for Small Clusters</strong>:
<span itemprop="description">Code developed to test the performance of a small 8 node cluster of raspberry pis. Implementations of a few simple parallel algorithms for testing the 
performance of a small cluster. Uses Java RMI for communication between master node and the worker nodes. Also includes useful bash scripts such as for 
starting the RMI servers on the worker nodes, shutting down and rebooting worker nodes from the master node, etc.</span>
<ul>
<li><a itemprop="codeRepository" href="https://github.com/cicirello/ClusterPerformanceTests">GitHub Repository</a></li>
<li><a itemprop="url" href ="/software/ClusterPerformanceTests.zip"><meta itemprop="fileFormat" content="application/zip">Zip of <span itemprop="programmingLanguage">Java</span> source.</a></li>
<li>License: <a itemprop="license" href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License Version 3 (GPLv3)</a>.</li>
</ul></li>
</ul>
</section>

<section>
<h3>Web Development Tools</h3>
<p>Here are a few web development tools that I originally implemented for my own personal use, but which I am now making freely available.</p>
<ul>
<li itemscope itemtype="https://schema.org/SoftwareSourceCode" itemref="pageAuthor"><strong itemprop="name">JRedirectGenerator</strong>: 
<span itemprop="description">Command line utility for generating simple html files for redirecting old urls to new. The intended use of 
this utility is for those who do not have sufficient access to otherwise generate 301 redirects.</span>
<ul>
<li><a itemprop="codeRepository" href="https://github.com/cicirello/JRedirectGenerator">GitHub Repository</a></li>
<li><a itemprop="url" href ="/software/JRedirectGenerator.zip"><meta itemprop="fileFormat" content="application/zip">Zip containing an executable jar file, which also contains 
the <span itemprop="programmingLanguage">Java</span> source.</a></li>
<li>License: <a itemprop="license" href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License Version 3 (GPLv3)</a>, a copy of which is also contained in
the above zip file.</li>
</ul></li>

<li itemscope itemtype="https://schema.org/SoftwareSourceCode" itemref="pageAuthor"><strong itemprop="name">Sitemap Generator</strong>: 
<span itemprop="description">Command line utility for generating an xml sitemap for a website whose code is maintained via git. 
It walks the directory hierarchy of the site, and uses the command line git command to find the last commit dates for use as last 
modification dates in the sitemap.</span>
<ul>
<li><a itemprop="codeRepository" href="https://github.com/cicirello/SitemapGenerator">GitHub Repository</a></li>
<li><a itemprop="url" href ="/software/SitemapGenerator.zip"><meta itemprop="fileFormat" content="application/zip">Zip containing an executable jar file, which also contains 
the <span itemprop="programmingLanguage">Java</span> source.</a></li>
<li>License: <a itemprop="license" href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License Version 3 (GPLv3)</a>, a copy of which is also contained in
the above zip file.</li>
</ul></li>

<li itemscope itemtype="https://schema.org/SoftwareSourceCode" itemref="pageAuthor"><strong itemprop="name">JImageEmbedder</strong>: 
<span itemprop="description">A simple command line utility for encoding small image files in base64 for embedding directly in webpages.  It is implemented as a command line wrapper
of Java's Base64.Encoder class, and can be used to minimize http requests upon page load.</span>
<ul>
<li><a itemprop="codeRepository" href="https://github.com/cicirello/JImageEmbedder">GitHub Repository</a></li>
<li><a itemprop="url" href ="/software/JImageEmbedder.zip"><meta itemprop="fileFormat" content="application/zip">Zip containing an executable jar file, which also contains 
the <span itemprop="programmingLanguage">Java</span> source.</a></li>
<li>License: <a itemprop="license" href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License Version 3 (GPLv3)</a>, a copy of which is also contained in
the above zip file.</li>
</ul></li>
</ul>
</section>

<section>
<h3>Weighted Tardiness Scheduling with Sequence-Dependent Setups</h3>
<p>You can find more information on this scheduling problem, including relevant publications, 
as well as a set of <a href="/datasets/wtsds/">benchmark instances</a> 
that were generated with this problem instance generator via my <a href="/datasets/">datasets</a> page.</p>
<ul>
<li itemscope itemtype="https://schema.org/SoftwareSourceCode" itemref="pageAuthor"><strong itemprop="name">Weighted Tardiness Problem Generator</strong>:
<span itemprop="description">Java class to generate random instances of weighted tardiness scheduling with sequence-dependent setups.</span>
<ul>
<li><a itemprop="codeRepository" href="https://github.com/cicirello/WeightedTardinessProblemGenerator">GitHub Repository</a></li>
<li><a itemprop="url" href ="/software/WeightedTardinessProblemGenerator.zip"><meta itemprop="fileFormat" content="application/zip">Zip of <span itemprop="programmingLanguage">Java</span> source.</a></li>
<li>License: <a itemprop="license" href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License Version 3 (GPLv3)</a>.</li>
</ul></li>
</ul>
</section>

</article>
