TITLE
Self-Adaptive / Self-Tuning Metaheuristics - Research - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION 
Genetic algorithms, and more generally, evolutionary computation, along with other metaheuristics such as simulated annealing, ant colony optimization,
often involve a large number of control parameters (e.g., mutation and crossover rates in genetic algorithms, parameters to control the cooling schedule
in simulated annealing, and so forth).  Getting the control parameters &quot;right&quot; is critical to search performance.  My research in this area
includes automated parameter tuning, self-adaptive metaheuristics or automated parameter control, and multi-heuristic search.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Self-Adaptive / Self-Tuning Metaheuristics</h2>
<p>Genetic algorithms, and more generally, evolutionary computation, along with other metaheuristics such as simulated annealing, ant colony optimization, etc,
often involve a large number of so-called control parameters (e.g., mutation and crossover rates in genetic algorithms, parameters to control the cooling schedule
in simulated annealing, and so forth).  Getting these control parameters &quot;right&quot; is often critical to search performance.  My research in this area
includes both automated parameter tuning, as well as self-adaptive metaheuristics or automated parameter control.  Automated parameter tuning involves applying
optimization (such as through another genetic algorithm or other optimizer) or machine learning during the algorithm design phase to automate setting control
parameter values.  On the other hand, parameter control provides the metaheuristic with self-adaptation ability.  For example, one approach to self-adaptive
genetic algorithms is to include an encoding of the control parameters within the population and to evolve control parameters during the search.
My research in this area also includes multi-heuristic search.
Some forms of search require the guidance of a heuristic, and the &quot;best&quot; heuristic for a problem may vary widely from that of another problem, 
or may even vary across instances of a problem.  Some of my research has applied machine learning enabling metaheuristics to adapt their choice of
heuristic.</p>  
<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<APP-SCI-2021>>
<<EAI2020INIS-2>>
<<JOSS2020>>
<<FLAIRS2018>>
<<SOCS2017>>
<<BICT2015>>
<<TechReport-Interface2008>>
<<CP-Workshop-2007>>
<<AAAI2005>>
<<CP2004>>
<<CMU-THESIS>>
<<GECCO2000>>
</ul>
</section>
</article>
