TITLE
Applications of AI to Computer-Aided Engineering - Research - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
My research also includes applications of artificial intelligence to problems within the broad domain of Computer-Aided Engineering (CAE).
These problems are mostly related to data management in large engineering digital libraries, such as automated engineering format classification,
and search and retrieval of engineering artifacts, such as Computer-Aided Design (CAD) models based upon structural similarity.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Applications of AI to Computer-Aided Engineering</h2>
<p>My research also includes applications of artificial intelligence to problems within the broad domain of Computer-Aided Engineering (CAE).
These problems are mostly related to data management in large engineering digital libraries, such as automated engineering format classification,
and search and retrieval of engineering artifacts, such as Computer-Aided Design (CAD) models based upon structural similarity.</p>

<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6813707428591829" data-ad-slot="9837103127" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<CAG2013>>
<<PATENT2010>>
<<AIEDAM2002>>
<<SMI2001>>
<<JCAD2000>>
<<NSF2000>>
<<SM99>>
<<MSthesis>>
<<SIGXI99>>
<<SIAM98>>
</ul>
</section>
</article>
