TITLE
Applications of AI to Computer-Aided Engineering - Research - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
My research includes applications of artificial intelligence to problems within the broad 
domain of Computer-Aided Engineering (CAE). These problems mostly relate to data management 
in large engineering digital libraries, such as automated engineering format classification,
and search and retrieval of engineering artifacts, such as Computer-Aided Design (CAD) models 
based upon structural similarity.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Applications of AI to Computer-Aided Engineering</h2>
<p>My research includes applications of artificial intelligence to problems within the 
broad domain of Computer-Aided Engineering (CAE). These problems are mostly related to 
data management in large engineering digital libraries, such as automated engineering 
format classification, and search and retrieval of engineering artifacts, such as 
Computer-Aided Design (CAD) models based upon structural similarity.</p>

[[AD-1]]

<section>
<h3>Automated Engineering Format Classification</h3>
<p>There are hundreds of distinct 3D, CAD, and engineering file formats. As engineering 
design and analysis has become increasingly digital, the proliferation of file formats 
has created many problems for data preservation, data exchange, and interoperability. In 
some situations, physical file objects exist on legacy media and must be identified and 
interpreted for reuse. In other cases, file objects may have varying representational 
expressiveness. In an article in the journal Computers &amp; Graphics titled
<a href="/publications/cicirello2013cag.html">A Flexible and Extensible Approach to 
Automated CAD/CAM Format Classification</a>, we introduced the problem of automated file 
recognition and classification in emerging digital engineering environments, where all 
design, manufacturing and production activities are digital from the start. The result is 
that massive quantities and varieties of data objects are created during the product 
life-cycle. Additionally, we presented an approach to automated identification of 
engineering file formats that operates independent of any modeling tools and can identify 
families of related file objects as well as variations in versions. This problem is 
challenging as it cannot assume any a priori knowledge about the nature of the physical 
file object. Applications for these methods include support for a number of emerging 
applications in areas such as forensic analysis, data translation, as well as digital 
curation and long-term data management.</p>
</section>

<section>
<h3>Automated Management of Computer Aided Design Digital Libraries</h3>

<p>My earliest research experience was focused on problems related to search
and retrieval of engineering artifacts from computer-aided design (CAD) digital
libraries based upon similarity, essentially a 3D search where the query is a 3D
model of an engineering artifact, and the objective of the search is to retrieve
objects that are similar to the query object. This work began with my MS Thesis,
<a href="/publications/cicirello1999thesis.html">Intelligent Retrieval of Solid 
Models</a>, which explored representations of the design features of an artifact
along with algorithms for comparing objects to determine which are similar in 
design. This MS Thesis introduced a graph-theoretic approach involving a graph
called a Model Dependency Graph (MDG) representing the design features of a solid model
and the dependencies among those features. Additionally, algorithms for comparing
these graphs were developed including a local hill climbing algorithm as well as
an algorithm called A* Subgraph Isomorphism Checker (ASIC). Further details of the
approach are presented in the paper <a href="/publications/cicirello1999sm.html">Resolving 
Non-Uniqueness in Design Feature Histories</a>, including proofs of various
properties of the MDGs as well as defining an approximate algorithm for checking
whether two MDGs are D-morphic or subgraph D-morphic. These and related activities
are discussed further in <a href="/publications/cicirello2000jcad.html">Managing Digital 
Libraries for Computer-Aided Design</a>.</p>

[[AD-2]]

<p>The early research discussed above focused on comparing 3D solid models based on
design feature histories, i.e., the similarity of artifacts in terms of how they were
designed. Later, we explored how to find engineering artifacts that would be machined
similarly. This is a harder problem. Our approach begins by extracting STEP AP 224
machining features from the CAD models of the artifacts, computing feature interactions,
and forming an MDG from the features and their interactions. We developed a local search
algorithm for the NP-Hard problem, Largest Common Subgraph, and defined a measure of similarity
based on the size of the Largest Common Subgraph of the MDG of a query artifact, and a potential
match from the digital library. This work was presented in the 
paper <a href="/publications/cicirello2001smi.html">Machining Feature-Based Comparison of 
Mechanical Parts</a>, presented at the International Conference on Shape Modeling and Applications.
We further refined the matching approach, developing the Greedy Subgraph Isomorphism Checker (GSIC),
among other improvements in a journal article published in <i>Artificial Intelligence for Engineering 
Design, Analysis and Manufacturing</i> titled <a href="/publications/cicirello2002aiedam.html">An 
Approach to a Feature-based Comparison of Solid Models of Machined Parts</a>. This work also
resulted in a patent: <a href="/publications/cicirello2010patent.html">Method for Comparing Solid 
Models</a>.</p>
</section>

<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<CAG2013>>
<<PATENT2010>>
<<AIEDAM2002>>
<<SMI2001>>
<<JCAD2000>>
<<NSF2000>>
<<SM99>>
<<MSthesis>>
<<SIGXI99>>
<<SIAM98>>
</ul>
</section>
</article>
