TITLE
Computer Science Education - Research - Vincent Cicirello - Professor of Computer Science

DESCRIPTION
My computer science education research includes studies of effective pedagogical techniques in a variety of undergraduate computer science courses,
including software engineering, AI, CS 1/2, discrete math, and non-major courses. 

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Computer Science Education</h2>
<p>My computer science education research includes studies of effective pedagogical techniques in a variety of undergraduate computer science courses,
including software engineering, AI, CS 1/2, discrete math, and non-major courses.</p>
<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<CCSCE2016>>
<<CCSCNE2013-unplugged>>
<<CCSCNE2013-SE>>
<<CCSCNE2009-bin>>
<<CCSCNE2009-pair>>
<<SIGCSE2009>>
<<CCSC2007>>
</ul>
</section>
</article>
