TITLE
Computer Science Education - Research - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
My computer science education research includes studies of effective pedagogical techniques
in a variety of undergraduate computer science courses, including software engineering, artificial
intelligence, CS 1/2, discrete math, and non-major courses. 

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Computer Science Education</h2>
<p>My computer science education research includes studies of effective pedagogical techniques
in a variety of undergraduate computer science courses, including software engineering, artificial
intelligence, CS 1/2, discrete math, and non-major courses.</p>

[[AD-1]]

<section>
<h3>Software Engineering</h3>
<p><strong>Course Projects:</strong> </p>
</section>

<section>
<h3>CS 1 / CS2 Courses</h3>
<p><strong>Pair Formation in Pair Programming:</strong> </p>

<p><strong>Effectiveness of Pop Quizzes:</strong> During a three year period, I examined
the impact of pop quizzes in a CS-1 course. The detailed results of the study can be found in a
paper titled <a href="/publications/cicirello2009sigcse.html">On the Role and Effectiveness 
of Pop Quizzes in CS1</a>, published in SIGCSE 2009. Performance on exams and programming
assignments were improved for the students in the course sections that experienced pop
quizzes, as compared to those in the course sections without pop quizzes. The benefit of
pop quizzes was greater for those majoring in either computer science or information systems
than it was for non-majors. Juniors and seniors also benefitted more from pop quizzes
than freshmen and sophomores.</p>
</section>


<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<JOSE2022>>
<<CCSCE2016>>
<<CCSCNE2013-unplugged>>
<<CCSCNE2013-SE>>
<<CCSCNE2009-bin>>
<<CCSCNE2009-pair>>
<<SIGCSE2009>>
<<CCSC2007>>
</ul>
</section>
</article>
