TITLE
Blog - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION 
A selection of blog posts on topics such as open source software development, and open source tools authored by Vincent A. Cicirello. This includes posts about GitHub Actions I've authored, as well as my research libraries, and also posts with tips related to open source software development more generally. 

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2><a href="https://dev.to/cicirello"><img alt="DEV Profile" src="/images/devto.svg" width="32" height="32"></a> Blog</h2>
<p>My intention is to create a more general blog here on my personal website covering whatever topics I feel like
blogging about. For now, I have been writing blog posts on <a href="https://dev.to">DEV</a>, a community-focused platform for
software development. Check out <a href="https://dev.to/cicirello">my profile on DEV</a> for a full list of my posts.
My posts on DEV cover various open source tools that I've authored and maintain, including functionality, and example
usage. This includes posts about GitHub Actions I've implemented. GitHub Actions is GitHub's CI/CD framework. Other posts
concern my research software libraries (well, I plan to write such posts). In other cases, I've posted tips and tricks 
related to using various open source tools, etc.</p>
<section>
<h3>Selection of Posts in Chronological Order</h3>
<p>Here is a selection of my posts on DEV in reverse chronological order, along with very brief summaries of the post contents and topic.</p>
<ul>
<li><p><a href="https://dev.to/cicirello/how-to-enable-dev-post-embeds-for-pages-from-your-website-2dp8">How to Enable DEV Post Embeds for Pages From Your Website</a>, posted on DEV on July 29, 2022.</p>
<p><b>Summary:</b> Detailed examples on how to use <a href="https://ogp.me/">Open Graph</a> tags on pages to enable embedding pages from personal websites
and project websites within posts on DEV.to. The post uses examples from my project pages.</p>
</li>
<li><p><a href="https://dev.to/cicirello/your-citation-metrics-in-an-svg-for-your-website-17bp">Your Citation Metrics in an SVG for Your Website</a>, posted on DEV on July 22, 2022.</p>
<p><b>Summary:</b> This blog post introduced an open source command-line tool that I authored, <a href="https://github.com/cicirello/bibliometrics">bibliometrics</a>, which enables
a researcher to generate an SVG summarizing bibliometrics for their research articles, and which is
installable from <a href="https://pypi.org/project/bibliometrics/">PyPI</a>.</p>
</li>
<li><p><a href="https://dev.to/cicirello/for-embeds-does-dev-use-open-graph-tags-and-what-is-the-minimum-set-of-og-tags-required-by-dev-for-an-embed-to-work-3kh3">For embeds, does DEV use Open Graph tags? And what is the minimum set of OG tags required by DEV for an embed to work?</a>, posted on DEV on July 22, 2022.</p>
<p><b>Summary:</b> A simple request to the DEV community for information on a DEV.to feature.</p>
</li>
<li><p><a href="https://dev.to/cicirello/badges-tldr-for-your-repositorys-readme-3oo3">Badges - TL;DR for your repository's README</a>, posted on DEV on July 15, 2022.</p>
<p><b>Summary:</b> This post discusses the purpose of dynamic status badges in the README files of open source
repositories, along with services that provide them, and tips for how to use them well.</p>
</li>
<li><p><a href="https://dev.to/cicirello/the-jacoco-badge-generator-github-action-is-now-also-available-as-a-cli-tool-from-pypi-3ma0">The jacoco-badge-generator GitHub Action is now also available as a CLI tool from PyPI</a>, posted on DEV on July 8, 2022.</p>
<p><b>Summary:</b> This post introduces an update to the <a href="https://actions.cicirello.org/jacoco-badge-generator/">jacoco-badge-generator</a> that includes the ability to use as a command line tool,
rather than strictly as a GitHub Action. Several examples of how to use the new functionality is covered, including how
to install from PyPI.</p>
</li>
<li><p><a href="https://dev.to/cicirello/jacoco-coverage-badges-pr-coverage-checks-and-pr-coverage-comments-from-github-actions-4a8f">JaCoCo coverage badges, PR coverage checks, and PR coverage comments, from GitHub Actions</a>, posted on DEV on November 29, 2021.</p>
<p><b>Summary:</b> This post introduces an update to the <a href="https://actions.cicirello.org/jacoco-badge-generator/">jacoco-badge-generator</a>, which includes pull-request coverage checks.
Additionally, it provides an example workflow demonstrating how to use it in combination with the GitHub CLI
to automate commenting on pull requests with the test coverage. This workflow was a submission to the DEV/GitHub Actions
Hackathon.</p>
</li>
<li><p><a href="https://dev.to/cicirello/progress-and-lessons-learned-internationalizing-the-user-statistician-github-action-2he9">Progress and Lessons Learned Internationalizing the user-statistician GitHub Action</a>, posted on DEV on October 13, 2021.</p>
<p><b>Summary:</b> This post serves a dual purpose: (a) providing a midway progress report on Hacktoberfest 2021, and (b) providing insights
learned related to the internationalization effort for the <a href="https://actions.cicirello.org/user-statistician/">user-statistician</a> GitHub Action.</p>
</li>
<li><p><a href="https://dev.to/cicirello/hacktoberfest-participants-help-us-internationalize-the-user-statistician-github-action-2bga">Hacktoberfest Participants Help Us Internationalize the user-statistician GitHub Action</a>, posted on DEV on September 29, 2021.</p>
<p><b>Summary:</b> I decided to participate in Hacktoberfest as a project maintainer for October 2021. I used Hacktoberfest as an opportunity to Internationalize the <a href="https://actions.cicirello.org/user-statistician/">user-statistician</a> GitHub Action, with Hacktoberfest contributors providing translations to various languages.</p>
</li>
<li><p><a href="https://dev.to/cicirello/generate-a-github-stats-svg-for-your-github-profile-readme-in-github-actions-1iaj">Generate a GitHub stats SVG for your GitHub Profile README in GitHub Actions</a>, posted on DEV on July 29, 2021.</p>
<p><b>Summary:</b> This post introduced a GitHub Action that I implemented, called the <a href="https://actions.cicirello.org/user-statistician/">user-statistician</a>, which is designed to 
query the GitHub GraphQL API and generate an SVG image summarizing your activity on GitHub.</p>
</li>
</ul>
</section>
</article>