TITLE
Contact - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
Contact information for Vincent A. Cicirello, Professor of Computer Science.

PAGE_HEADER
<script defer src="/js/aes.js"></script>

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Contact Information</h2>
<p>Use the relevant contact info in the sections that follow based on the purpose
of your communications.</p>
<h3>Research, Teaching, Professional Activities</h3>
<p>If you have questions, comments, etc about my research (including any of my publications), or
if you are a student in a course I'm teaching, or if you have questions, comments, etc on my
professional activities (e.g., editorial boards, conference organization, etc)....</p>
<ul>
<li><a class="liame" rel="nofollow, noindex" href="8OrDcOu7laDwuHtT6rnZbOEnMYAVeCZzD-f278_nbM">Email</a> me at Stockton University</li>
</ul>
<h3>Open Source Development</h3>
<p>If you have questions, comments, etc about any of my open source software projects,
including but not limited to source code, documentation, project websites, licensing, etc,
then use one or more of the following as relevant:</p>
<ul>
<li>Issue tracker in the relevant <a href="https://github.com/cicirello?tab=repositories">GitHub repository</a></li>
<li>Discussions tab within the relevant <a href="https://github.com/cicirello?tab=repositories">GitHub repository</a> (where its been activated)</li>
<li><a class="liame" rel="nofollow, noindex" href="Izh7lY9EKMYMEkozYmkdd4xQRDbUZB1qgR7c0xiAkdDjUkY">Email</a> the Cicirello.org development team</li>
</ul>
<h3>Website Related</h3>
<p>If you have questions, comments, etc concerning my website or anything that doesn't fit into one of the above categories....</p>
<ul>
<li><a class="liame" rel="nofollow, noindex" href="Izh7lY9EKMYMEkozYmkdd4xQRDbUZB1qgR7c0xiAkdDjUkY">Email</a> the Cicirello.org development team</li>
</ul>
</article>
