TITLE
Genetic Operators for Permutation Representation - Research - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION 
The permutation representation for genetic algorithms requires specialized operators. A wide variety of crossover and mutation
operators for permutations exist in the research literature. In my research on evolutionary computation for optimizing permutation structures,
I have developed several crossover and mutation operators, including Non-Wrapping Order Crossover (NWOX), Uniform Partially Matched Crossover (UPMX),
Heuristic Sequencing Crossover (HeurX), and window-limited variations of common permutation mutation operators.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Genetic Operators for Permutation Representation</h2>
<p>The permutation representation for genetic algorithms requires specialized operators. A wide variety of crossover and mutation
operators for permutations exist in the research literature. In my research on evolutionary computation for optimizing permutation structures,
I have developed several crossover and mutation operators, including Non-Wrapping Order Crossover (NWOX), Uniform Partially Matched Crossover (UPMX),
Heuristic Sequencing Crossover (HeurX), and window-limited variations of common permutation mutation operators.</p>
<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<BICT2014>>
<<FLAIRS2010>>
<<GECCO2006>>
<<GECCO2000>>
</ul>
</section>
</article>





