TITLE
Genetic Operators for Permutation Representation - Research - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION 
The permutation representation for genetic algorithms requires specialized operators. A wide variety of crossover and mutation
operators for permutations exist in the research literature. In my research on evolutionary computation for optimizing permutation structures,
I have developed several crossover and mutation operators, including Cycle Mutation, 
Non-Wrapping Order Crossover (NWOX), Uniform Partially Matched Crossover (UPMX),
Heuristic Sequencing Crossover (HeurX), and window-limited variations of common permutation mutation operators.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Genetic Operators for Permutation Representation</h2>
<p>The permutation representation for genetic algorithms requires specialized operators. A wide variety of crossover and mutation
operators for permutations exist in the research literature. In my research on evolutionary computation for optimizing permutation structures,
I have developed several crossover and mutation operators, including Cycle Mutation, 
Non-Wrapping Order Crossover (NWOX), Uniform Partially Matched Crossover (UPMX),
Heuristic Sequencing Crossover (HeurX), and window-limited variations of common permutation mutation operators.</p>

[[AD-1]]

<section>
<h3>Cycle Mutation</h3>

<p>I developed a new mutation operator called Cycle Mutation for using evolutionary algorithms
to optimize solutions to problems whose solutions are represented by permutations. There are
two versions of Cycle Mutation, Cycle(<i>kmax</i>) and Cycle(&alpha;), both of which were
introduced in the paper <a href="/publications/cicirello2022applsci.html">Cycle Mutation: Evolving 
Permutations via Cycle Induction</a>. Cycle Mutation relies on the concept of a permutation cycle,
and is inspired by an existing permutation crossover operator called Cycle Crossover.</p>

<p><strong>Permutation Cycles:</strong> To explain the concept of a permutation cycle, first 
imagine that we have two permutations of the same set, and that we align them, such as in
this example:</p>
<pre><code>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 6, 2, 5, 1, 3, 8, 0, 7, 4]
</code></pre>
<p>Next, consider a hypothetical graph, such that each of the elements of the permutation is a vertex
(e.g., the integers from 0 through 9 in this case), and the edges are defined by elements in
corresponding positions. In the above example, we'd have edges (0,9), (1,6), (2,2), etc. A permutation
cycle is just a cycle in this hypothetical graph. The length of a permutation cycle is just the length
of cycle in graph theoretic terms (i.e., the number of edges in the cyclic path). For example, the
cycle [2, 2] in the above example is a singleton cycle, or length 1; and the cycle [3, 5, 3] is length 
2. In the Cycle Crossover operator that inspired Cycle Mutation, a pair of parents are aligned and one of
the permutation cycles of the parents is chosen randomly, by picking an element at random, and the positions
of the elements of that cycle is exchanged between the parents.</p>

<p><strong>Cycle Mutation:</strong> In Cycle Mutation, we produce a mutant of a chosen permutation by
inducing a random permutation cycle. In the Cycle(<i>kmax</i>) form of the operator, the length of the
randomly induced cycle <i>k</i> is chosen at random uniformly from the interval [2, <i>kmax</i>],
where <i>kmax</i> is a parameter that must be specified. In the Cycle(&alpha;) form of the operator,
any cycle length from [2, <i>n</i>] is possible, where <i>n</i> is the permutation length. The cycle
length is chosen randomly such that the probability of choosing <i>k</i> is proportional to
&alpha;<sup><i>k-2</i></sup>. See the paper for details of how to implement this efficiently, as well
as some theory underlying the operator, such as the expected cycle length, runtime of the two
versions, etc. Both forms of cycle mutation are effective for permutation problems where the absolute
positions of the elements are important to fitness. One benefit of the Cycle(&alpha;) version is that
corresponding search landscapes are free of local optima.</p>
</section>

<section>
<h3>Non-Wrapping Order Crossover (NWOX)</h3>

<p>I developed the Non-Wrapping Order Crossover (NWOX) operator for problems where precedences
among elements of a solution are important to fitness. NWOX is a variation of an operator called
Order Crossover (OX). The original OX operator was designed with problems like the traveling person
(TSP) in mind, as well as other ordering problems. The intention of OX is for child permutations to 
inherit relative ordering of elements from the parents, but it has the tendency for elements that
had been toward the right half of the parents to end up toward the left half of the children. This
is fine for the TSP where the permutation represents a cycle with no specific starting point.
However, for scheduling problems where there is a specific point in time when the schedule begins,
this matters a lot. NWOX is designed to prevent such cyclic wrapping of elements.</p>

<p>Both OX and NWOX begin by picking two random cross points, similar to two-point crossover for
bit vectors. Child 1 gets the elements from the cross region of parent 1 in the same positions
as the parent; and it gets the remaining elements from parent 2 in the relative order they were
in parent 2. In the original OX, those relatively ordered elements fill in beginning to the right
of the cross region and wrapping around to the beginning as necessary. In NWOX, the relatively
ordered elements are placed left to right, skipping over the cross region as necessary. Here is
an example. First, consider the parents below, with cross region marked by | |:</p>
<pre><code>
[0, 1, 2, 3, | 4, 5, 6, | 7, 8, 9]
[9, 6, 2, 5, | 1, 3, 8, | 0, 7, 4]
</code></pre>
<p>The original OX produces the children:</p>
<pre><code>
[3, 8, 0, 7, | 4, 5, 6, | 9, 2, 1]
[5, 6, 7, 9, | 1, 3, 8, | 0, 2, 4]
</code></pre>
<p>NWOX produces the children:</p>
<pre><code>
[9, 2, 1, 3, | 4, 5, 6, | 8, 0, 7]
[0, 2, 4, 5, | 1, 3, 8, | 6, 7, 9]
</code></pre>

<p>Based on our <a href="/publications/cicirello2023ecta.html">analysis</a>, the original OX is 
better for problems where edges (i.e., adjacency of elements) is important to fitness, such as the 
TSP problem. However, NXOX is much better
for problems where element precedences are important to fitness, such as various machine scheduling
problems.</p>
</section>

<section>
<h3>Uniform Partially Matched Crossover (UPMX)</h3>

<p></p>
</section>

<section>
<h3>Window-Limited Mutation Operators</h3>

<p></p>
</section>

<section>
<h3>Heuristic Sequencing Crossover (HeurX)</h3>

<p></p>
</section>

<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<ECTA2023>>
<<MONE-2022>>
<<APP-SCI-2022>>
<<BICT2014>>
<<FLAIRS2010>>
<<GECCO2006>>
<<GECCO2000>>
</ul>
</section>
</article>





