TITLE
Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
Vincent A. Cicirello - Professor of Computer Science at Stockton University - is a 
researcher in artificial intelligence, evolutionary computation, swarm intelligence, 
and computational intelligence, with a Ph.D. in Robotics from Carnegie Mellon 
University. He is an ACM Senior Member, IEEE Senior Member, AAAI Life Member,
EAI Distinguished Member, and SIAM Member.

CONTENT
<article itemprop="mainEntity" itemscope itemtype="https://schema.org/Person" itemref="vacData">
<h2>Vincent A. Cicirello, Ph.D.</h2>
<link itemprop="image" href="/images/vac.jpg">
<link itemprop="image" href="/images/vac3.jpg">
<section>
<h3>Professional Bio:</h3>
<p><span itemprop="honorificPrefix">Dr.</span> Vincent A. Cicirello is a
<span itemprop="affiliation" itemscope itemtype="https://schema.org/OrganizationRole" itemref="su csci neuro dssa"><span itemprop="roleName">Professor</span> (and 
<span itemprop="roleName">Chair</span>) of 
Computer Science at Stockton University, where he has been a faculty member 
since <time datetime="2005-09-01" itemprop="startDate">2005</time>. 
He is among the founding faculty of Stockton University's Behavioral Neuroscience program, 
an interdisciplinary undergraduate minor first offered in <time datetime="2010-01">2010</time>;
and he is also affiliated with Stockton University's Data Science 
and Strategic Analytics Masters program.</span></p>

<p>His research interests include artificial intelligence, evolutionary computation, 
swarm intelligence, and computational intelligence. He was elevated to IEEE Senior Member
in 2021, designated an ACM Senior Member in 2011, received the 2005 AAAI Outstanding 
Paper award, and was nominated for the 2006 GECCO Best Genetic Algorithm 
Track award. He received a U.S. Patent in 2010, and has published over 
50 journal and conference publications.
He is a member of AAAI (Life Member), ACM (Senior Member), ACM SIGCSE, ACM SIGAI, ACM SIGEVO, 
CCSC, EAI (Distinguished Member), IEEE (Senior Member), IEEE Computer Society, IEEE Computational Intelligence Society, 
and SIAM.</p> 

<p>Prior to joining the Stockton University faculty, 
<span itemprop="affiliation" itemscope itemtype="https://schema.org/OrganizationRole" itemref="du acin duCS">Dr. Cicirello worked as a <span itemprop="roleName">Research Scientist</span> for Drexel University 
(<time datetime="2003-07-01" itemprop="startDate">2003</time>-<time datetime="2005-08-31" itemprop="endDate">2005</time>)
at Drexel's Applied Communications and Information Networking (ACIN) Center 
in Camden, NJ as part of an interdisciplinary team
from Drexel's Computer Science Department and Electrical Engineering Department 
developing the Secure Wireless Agent Testbed.</span>  
<span itemprop="affiliation" itemscope itemtype="https://schema.org/OrganizationRole" itemref="du gicl">During a <time datetime="2012" itemprop="startDate endDate">2012</time>
sabbatical from Stockton University, Dr. Cicirello 
collaborated with Drexel's Geometric and Intelligent Computing Laboratory (GICL),
as a <span itemprop="roleName">Visiting Associate Professor</span>, 
on research related to digital engineering data management.</span></p>

<p><span itemprop="alumniOf" itemscope itemtype="https://schema.org/OrganizationRole">He earned a <span itemprop="roleName">Ph.D. in Robotics</span> from 
<span itemprop="alumniOf" itemscope itemtype="https://schema.org/CollegeOrUniversity" itemref="cmu-url">Carnegie Mellon University</span> in <time datetime="2003-08-12" itemprop="startDate">2003</time>.</span>
<span itemprop="affiliation" itemscope itemtype="https://schema.org/OrganizationRole" itemref="cmu">While a <span itemprop="roleName">Ph.D. student</span> in CMU's Robotics Institute 
from <time datetime="1999-08" itemprop="startDate">1999</time> to <time datetime="2003-08" itemprop="endDate">2003</time>, 
Vince's research included applications of swarm intelligence, research in applying machine learning
to the control of metaheuristics, as well as multi-agent/multi-robot coordination.  
Vince's dissertation research was applied to industrial scheduling problems
as well as robotic space exploration.  One outcome of his dissertation research 
is a paper published and presented at the 2005 National Conference on Artificial Intelligence
for which Vincent Cicirello, and his co-author and dissertation 
adviser Steve Smith, were awarded the 2005 AAAI Outstanding Paper Award.</span></p>

<p><span itemprop="alumniOf" itemscope itemtype="https://schema.org/OrganizationRole">As part of a dual M.S./B.S. program, he earned a <span itemprop="roleName">M.S. in Computer Science</span>, 
a <span itemprop="roleName">B.S. in Computer Science</span>, and a <span itemprop="roleName">B.S. in Mathematics</span> from 
<span itemprop="alumniOf" itemscope itemtype="https://schema.org/CollegeOrUniversity" itemref="du-url">Drexel University</span> in <time datetime="1999-06-12" itemprop="startDate">1999</time>.</span>
<span itemprop="affiliation" itemscope itemtype="https://schema.org/OrganizationRole" itemref="du gicl duCS duMath">From <time datetime="1998-01" itemprop="startDate">1998</time> 
to <time datetime="1999-08" itemprop="endDate">1999</time>, 
Vincent worked as a <span itemprop="roleName">Research Assistant</span> in 
Drexel University's Department of Computer Science and Mathematics 
in the GICL, where he participated in research related to 
managing large digital libraries of engineering data, such as his 
1999 Masters Thesis where he developed algorithms for 
retrieving CAD/CAM data based on the design similarity of solid models.
This research was later refined as well as expanded to retrieval 
based on manufacturing similarity, ultimately leading to a 
2003 patent application, with U.S. patent granted in 2010.</span></p> 
</section>
<section>
<h3>Current Affiliations:</h3>
<ul itemscope><li><span itemprop="affiliation" itemscope itemtype="https://schema.org/CollegeOrUniversity" id="su"><a itemprop="url" href="https://stockton.edu/"><span itemprop="name">Stockton University</span></a></span>
<ul><li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization" id="csci" ><a itemprop="url" href="https://www.stockton.edu/business/computer-science.html"><span itemprop="name">Computer Science</span></a>
<ul><li><a href="https://sites.google.com/site/helenwei59/home/researchlab">Health Analytics Research Team (HEART)</a></li></ul></li>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization" id="neuro"><a itemprop="url" href="https://stockton.edu/social-behavioral-sciences/behavioral-neuroscience.html"><span itemprop="name">Behavioral Neuroscience</span></a></li>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization" id="dssa"><a itemprop="url" href="https://stockton.edu/graduate/data-science_strategic-analytics.html"><span itemprop="name">Data Science and Strategic Analytics</span></a></li>
</ul></li>
</ul>
</section>
<section>
<h3>Awards and Honors:</h3>
<ul>
<li>Elevated to <span itemprop="award">IEEE Senior Member</span> in 2021</li>
<li>Designated an <a href="https://awards.acm.org/award_winners/cicirello_4953956.cfm"><span itemprop="award">ACM Senior Member</span></a> in 2011</li>
<li>Awarded the 2005 <a href="https://www.aaai.org/Awards/paper.php"><span itemprop="award">AAAI Outstanding Paper Award</span></a></li>
<li>Nominated for the 2006 GECCO Best Genetic Algorithm Track award</li>
<li>Awarded <a 
href="https://blog.eai-conferences.org/2022/01/05/announcing-eai-distinguished-members-class-of-2021/"><span itemprop="award">EAI 
Distinguished Member</span></a> in 2021.</li>
</ul>
</section>
<section>
<h3>Publications:</h3>
<p>In addition to my <a href="/publications/">Publications</a> page, you 
can find additional information on my research, 
including full-text of articles and bibliographic data from a 
variety of sources, including:</p>
<ul>
<li><a href="https://scholar.google.com/citations?user=wq4N1CoAAAAJ" itemprop="sameAs">My Google Scholar profile</a>
</li>
<li><a href="https://dl.acm.org/author_page.cfm?id=81100638594" itemprop="sameAs">My ACM Digital Library author profile</a>
</li>
<li><a href="https://orcid.org/0000-0003-1072-8559" itemprop="sameAs">My ORCID</a></li>
<li><a href="https://ieeexplore.ieee.org/author/37272496500">IEEE Xplore</a></li>
<li><a href="https://www.researchgate.net/profile/Vincent-Cicirello">My ResearchGate profile</a>
</li>
<li><a href="https://dblp.org/pid/57/5754" itemprop="sameAs">The DBLP Computer Science Bibliography</a></li>
</ul>
</section>
<section>
<h3>Professional Society Memberships:</h3>
<ul><li itemprop="memberOf" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://www.aaai.org"><span itemprop="name">AAAI</span></a> Lifetime Member</li>
<li itemprop="memberOf" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://www.acm.org"><span itemprop="name">ACM</span></a> Senior Member
<ul><li itemprop="subOrganization" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://sigai.acm.org/"><span itemprop="name">ACM SIGAI</span></a></li>
<li itemprop="subOrganization" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://www.sigcse.org"><span itemprop="name">ACM SIGCSE</span></a></li>
<li itemprop="subOrganization" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://sig.sigevo.org"><span itemprop="name">ACM SIGEVO</span></a></li></ul></li>
<li><span itemprop="memberOf" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://www.ccsc.org"><span itemprop="name">CCSC</span></a></span>
<ul><li itemprop="memberOf" itemscope itemtype="https://schema.org/Organization">Member of the <a itemprop="url" href="http://www.ccsc-eastern.org/about-us/steering"><span itemprop="name">CCSC Eastern Region Steering Committee</span></a> since 2012</li></ul></li>
<li itemprop="memberOf" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://eai.eu/"><span itemprop="name">EAI</span></a> Distinguished Member</li>
<li itemprop="memberOf" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://www.ieee.org"><span itemprop="name">IEEE</span></a> Senior Member
<ul><li itemprop="subOrganization" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://www.computer.org"><span itemprop="name">IEEE Computer Society</span></a></li>
<li itemprop="subOrganization" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://cis.ieee.org/"><span itemprop="name">IEEE Computational Intelligence Society</span></a></li></ul></li>
<li itemprop="memberOf" itemscope itemtype="https://schema.org/Organization"><a itemprop="url" href="https://www.siam.org"><span itemprop="name">SIAM</span></a></li></ul>
</section>
<section>
<h3>Past Affiliations</h3>
<ul itemscope>
<li><span itemprop="affiliation" itemscope itemtype="https://schema.org/CollegeOrUniversity" id="du"><a itemprop="url" href="https://www.drexel.edu/" id="du-url"><span itemprop="name">Drexel University</span></a></span>
<ul>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization" id="duCS"><a itemprop="url" href="https://drexel.edu/cci/departments/computer-science/"><span itemprop="name">Department of Computer Science</span></a>
</li>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization" id="duMath"><a itemprop="url" href="https://drexel.edu/coas/academics/departments-centers/mathematics/"><span itemprop="name">Department of Mathematics</span></a>
</li>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization" id="acin"><a itemprop="url" href="https://www.camdencolab.com/acin/"><span itemprop="name">Applied Communications and Information Networking (ACIN) Center</span></a>
</li>
<li>Secure Wireless Agent Testbed (SWAT)</li>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization" id="gicl"><span itemprop="name">Geometric and Intelligent Computing Laboratory</span>
</li></ul>
</li>
<li id="cmu"><span itemprop="affiliation" itemscope itemtype="https://schema.org/CollegeOrUniversity"><a itemprop="url" href="https://www.cmu.edu/" id="cmu-url"><span itemprop="name">Carnegie Mellon University</span></a></span>: 
<ul>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization"><a itemprop="url" href="https://www.ri.cmu.edu/"><span itemprop="name">Robotics Institute</span></a>
</li>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization"><a itemprop="url" href="http://www.ozone.ri.cmu.edu/"><span itemprop="name">Intelligent Coordination and
       Logistics Laboratory</span></a>
</li>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization"><span itemprop="name">Center for Integrated Manufacturing Decision Systems</span>
</li>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization"><a itemprop="url" href="https://www.cs.cmu.edu/~fire/"><span itemprop="name">Federation of Intelligent Robotic Explorers Project</span></a>
</li>
<li itemprop="affiliation" itemscope itemtype="https://schema.org/EducationalOrganization"><a itemprop="url" href="https://www.cs.cmu.edu/"><span itemprop="name">School of Computer Science</span></a>
</li></ul>
</li>
<li>MediaStream, a Knight Ridder Company</li>
<li><a href="https://www.adp.com/">Automatic Data Processing, Inc.</a>
</li></ul>
</section>
</article>