TITLE
Multi-Agent Systems / Multi-Robot Systems - Research - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION 
Although much of my research on multiagent / multirobot systems is specifically related to swarm intelligence, I have additionally conducted research
related to other aspects of these systems, including market-based coordination, security engineering of multiagent systems, issues related to mobile agents 
on ad hoc wireless networks, power aware agents, and multiagent collaboration tools.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Multi-Agent Systems / Multi-Robot Systems</h2>
<p>Much of my research on multiagent / multirobot systems is specifically related to 
swarm intelligence, I have additionally conducted research related to other aspects of 
these systems, including market-based coordination, security engineering of multiagent 
systems, issues related to mobile agents on ad hoc wireless networks, power aware agents, 
and multiagent collaboration tools. The remainder of this page focuses on these things, while 
a separate page of my site focuses on my <a href="/research/swarms/">swarm intelligence research</a>.</p>

[[AD-1]]

<section>
<h3>Software Engineering of Multiagent Systems</h3>

<p>The Philadelphia Area Urban Wireless Network Testbed (PA-UWNT), among other things,
developed a distributed and decentralized communications and coordination platform
enabling the secure collaboration of security personnel and first responders (e.g., rescue 
workers, police, firefighters, paramedics) over a mobile ad hoc network (MANET) of a
heterogeneous collection of nodes (e.g., tablets, laptops, etc) of limited resources.
The article <a href="/publications/cicirello2004ieeeis.html">Designing Dependable Agent 
Systems for Mobile Wireless Networks</a>, in IEEE Intelligent Systems, provides an
overview of the project. During this project, we advanced the state-of-the-art in
software engineering for multiagent systems operating on MANETs in such challenging urban
environments.</p>

<p>We utilized a service-oriented architecture, as detailed in the article
<a href="/publications/cicirello2005ieeeis.html">Service-Based Computing on MANETs: Enabling 
Dynamic Interoperability of First Responders</a> in IEEE Intelligent Systems, which utilized
an OWL-S web services registry, and mobile agents for service discovery on the MANET. We followed
a comprehensive security engineering process in designing the system, as described in the paper
<a href="/publications/cicirello2004mass.html">Engineering Multi-Agent Systems</a>, from the
IEEE First Symposium on Multi-Agent Security and Survivability. And we developed
design patterns for mobile swarming agents that traverse the MANET for a variety of tasks,
such as network monitoring and service discovery, as presented in  
<a href="/publications/cicirello2005mass2.html">Designing Decentralized Software for a Wireless 
Network Environment: Evaluating Patterns of Mobility for a Mobile Agent Swarm</a> from
the Second IEEE Symposium on Multi-Agent Security and Survivability.</p>
</section>

[[AD-2]]

<section>
<h3>Environment-Aware Agents</h3>
<p>MANETs are prone to network disruptions, due to a variety of factors that include limited
resources on the devices that form the network, nodes that are dynamically in motion going in and
out of range creating a dynamic network topology, unknown target environment with potential for
structures to cause interference, among others. Thus, the PA-UWNT as discussed in the above
section is a challenging one for systems design. For these reasons, the mobile agents of
the PA-UWNT utilize environmental awareness. For example, the agents are power aware
(see <a href="/publications/cicirello2005mass1.html">Agent Survivability Through Power 
Awareness</a>) as well as network-aware (see 
<a href="/publications/cicirello2005aaaisp.html">Network Awareness and the Philadelphia Area 
Urban Wireless Network Testbed</a>).</p>
</section>

<section>
<h3>Market-Based Multiagent / Multirobot Coordination</h3>
<p>The Federation of Intelligent Robotic Explorers (FIRE) project focused on a 
team of autonomous robots exploring a planetary environment, such as Mars. The team of robots 
of FIRE utilized a layered architecture, with a market-based approach for task allocation
among the members of the team
(<a href="/publications/cicirello2003mrs.html">Goldberg et al, 2003</a>; 
<a href="/publications/cicirello2002nasa.html">Goldberg et al, 2002</a>).
The robots of the team bid on incoming tasks based on their capabilities, utilizing
a simulated market model.</p>
</section>

<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<IEEE-IS-2005>>
<<MASS2005-1>>
<<MASS2005-2>>
<<ISDEMO2005>>
<<SPRING2005>>
<<IEEE-IS-2004>>
<<MASS2004>>
<<DEMO>>
<<ISDEMO>>
<<ICAPSDEMO>>
<<DARPA-MANETS>>
<<AAMAS2003>>
<<MULTIROBOT2003>>
<<SPACE2002>>
</ul>
</section>
</article>
