TITLE
Multi-Agent Systems / Multi-Robot Systems - Research - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION 
Although much of my research on multiagent / multirobot systems is specifically related to swarm intelligence, I have additionally conducted research
related to other aspects of these systems, including market-based coordination, security engineering of multiagent systems, issues related to mobile agents 
on ad hoc wireless networks, power aware agents, and multiagent collaboration tools.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Multi-Agent Systems / Multi-Robot Systems</h2>
<p>Although much of my research on multiagent / multirobot systems is specifically related to swarm intelligence, I have additionally conducted research
related to other aspects of these systems, including market-based coordination, security engineering of multiagent systems, issues related to mobile agents 
on ad hoc wireless networks, power aware agents, and multiagent collaboration tools.</p>
<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<IEEE-IS-2005>>
<<MASS2005-1>>
<<ISDEMO2005>>
<<SPRING2005>>
<<IEEE-IS-2004>>
<<MASS2004>>
<<DEMO>>
<<ISDEMO>>
<<ICAPSDEMO>>
<<DARPA-MANETS>>
<<AAMAS2003>>
<<MULTIROBOT2003>>
<<SPACE2002>>
</ul>
</section>
</article>
