home	W	/	Home
publications	C	/publications	Publications
research	W	/research	Research
*	landscape	W	/research/landscape	Search Landscape Analysis
*	adaptive	W	/research/adaptive	Self-Adaptive / Self-Tuning Metaheuristics
*	gaoperators	W	/research/gaoperators	Genetic Operators for Permutation Representation
*	metaheuristics	W	/research/metaheuristics	Metaheuristic Development
*	swarms	W	/research/swarms	Swarm Intelligence
*	multiagent	W	/research/multiagent	Multi-Agent Systems / Multi-Robot Systems
*	aicae	W	/research/aicae	Applications of AI to Computer-Aided Engineering
*	csedu	W	/research/csedu	Computer Science Education
software	W	/software	Open Source Software
*	ossresearch	W	/software/research	Open Source Research Software
*	ossedu	W	/software/csedu	Open Source Computer Science Education
*	osstools	W	/software/tools	Open Source Tools
datasets	W	/datasets	Datasets
*	wtsds	W	/datasets/wtsds	Weighted Tardiness Scheduling with Sequence-Dependent Setups
teaching	W	/teaching	Teaching
service	W	/professional	Professional Activities
dev	W	/dev	Blog
searchresults	W	/search	Site Search
e	W0	/e	Contact
*	presentations	W0	/presentations	Conference Presentations
*	privacy	W	/policy/privacy	Privacy Policy
*	404	W0	/	404
