TITLE
Open Source Computer Science Education - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
Open source computer science educational software, developed by Vincent A. Cicirello, Professor of Computer Science at
Stockton University.

CONTENT
<article id="top" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Open Source Computer Science Education</h2>
<p>On this page, you will find information about open source <a href="#education">educational software</a> on topics
of computer science, such as self-guided tutorial applications. You can find my computer science educational software 
at the following sites:</p>
<ul>
<li><a href="https://github.com/cicirello"><img alt="GitHub Profile" src="/images/mark-github-16.svg" width="20" height="20"> GitHub</a></li>
<li><a href="https://central.sonatype.com/namespace/org.cicirello"><img alt="Maven Central" src="/images/maven.svg" width="20" height="20"> Maven Central Repository</a></li>
</ul>

<section id="education">
<h3>Educational Software</h3>
<p>Here is a list of software I've implemented in support of computer 
science education.</p>

<p><strong>Interactive Bin Packing</strong>: This application
provides a self-guided tutorial on combinatorial optimization, the bin packing problem, 
and constructive heuristics for bin packing. It also enables the user to interact with bin 
packing instances to explore their own problem solving strategies, or to test their 
knowledge of the various constructive heuristics covered by the tutorial. The application 
is not a solver for bin packing. Interactive Bin Packing is a tool for learning about the bin 
packing problem, as well as for learning about heuristic techniques for solving instances of the problem.</p>
<ul>
<li>Source code: <a href="https://github.com/cicirello/InteractiveBinPacking">GitHub Repository</a></li>
<li>Latest release: <a href="https://central.sonatype.com/artifact/org.cicirello/interactive-bin-packing/"><img src="https://img.shields.io/maven-central/v/org.cicirello/interactive-bin-packing.svg?label=Maven%20Central&logo=apachemaven" alt="Maven Central" height="20"></a></li>
<li>Language: Java</li>
<li>License: <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License Version 3 (GPLv3)</a>.</li>
</ul>


<p><a href="#top"><em>Top of the page</em></a></p>
</section>

</article>
