FOOTER:
<footer itemprop="hasPart" itemscope itemtype="https://schema.org/WPFooter">
<small>
<a class="footer-link" rel="nofollow" href="/e/">Contact</a>
<a class="footer-link" href="/policy/privacy/">Privacy Policy</a>
</small>
<div id="copyright"><small>Copyright &copy; 1996-<<YEAR>> Vincent A. Cicirello.</small></div>
</footer>

SIDEBAR:
<aside itemprop="hasPart" itemscope itemtype="https://schema.org/WPSideBar">
<div itemscope>
<div id="pageAuthor" itemprop="author copyrightHolder" itemscope itemtype="https://schema.org/Person">
<div id="vacData">
<h3><a itemprop="mainEntityOfPage url" href="/"><span itemprop="name">Vincent A. Cicirello</span>, <span itemprop="honorificSuffix">Ph.D.</span></a></h3>
<h4>Current Position:</h4><br>
<span itemprop="jobTitle">Professor of Computer Science</span><br><br>
<h4>Mailing Address:</h4><br>
School of Business<br>
Stockton University<br>
101 Vera King Farris Dr<br>
Galloway, NJ 08205<br><br>
<h4>E-mail:</h4>
<a rel="nofollow" href="/e/">contact</a>
<br><br>
<h4>Phone:</h4>
(609) 626-3526<br><br>
<h4>Profiles:</h4><br>
<a itemprop="sameAs" href="https://www.linkedin.com/in/vacicirello"><img src="/images/in.svg" width="32" height="32" alt="LinkedIn"></a>
<a itemprop="sameAs" href="https://github.com/cicirello"><img alt="Explore my open source projects on 
GitHub" src="/images/mark-github-16.svg" width="32" height="32"></a>
<a itemprop="sameAs" href="https://scholar.google.com/citations?user=wq4N1CoAAAAJ"><img alt="Google Scholar" src="/images/gs.svg" width="32" height="32"></a>
<a itemprop="sameAs" href="https://orcid.org/0000-0003-1072-8559"><img alt="ORCID" src="/images/orcid.svg" width="32" height="32"></a>
<a itemprop="sameAs" href="https://dblp.org/pid/57/5754"><img alt="DBLP" src="/images/dblp.svg" width="32" height="32"></a>
<a itemprop="sameAs" href="https://dl.acm.org/author_page.cfm?id=81100638594"><img alt="ACM Digital Library" src="/images/acm.svg" width="32" height="32"></a>
<a itemprop="sameAs" href="https://ieeexplore.ieee.org/author/37272496500"><img alt="IEEE Xplore" src="/images/ieee.svg" width="32" height="32"></a>
<a itemprop="sameAs" href="https://www.researchgate.net/profile/Vincent-Cicirello"><img alt="ResearchGate" src="/images/rg.svg" width="32" height="32"></a>
</div></div></div>
</aside>

SCHEMA:
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "https://www.cicirello.org/",
  "name": "Vincent A. Cicirello - Professor of Computer Science",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://www.cicirello.org/search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

HEADER:
<link rel="icon" href="/images/favicon.svg" sizes="any" type="image/svg+xml">
