TITLE
Conference Presentations - Vincent Cicirello - Professor of Computer Science

DESCRIPTION
Vincent Cicirello - Professor  of Computer Science at Stockton University - conference presentation materials primarily intended as online backup and not
for public dissemination.

CONTENT
<article>
<h1>Presentation</h1>
<ul>
<li>Put presentation files here.</li>
</ul>
</article>
