TITLE
Privacy Policy

DESCRIPTION
Our privacy policy is simple.  We do not collect any personally identifiable information.  In fact, we don't collect
any information from the visitors of our website.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Privacy Policy</h2>
<p>Last updated: August 6, 2025.</p>
<p>Cicirello.org does not directly collect any personally identifiable information. However, some
pages of the website may display advertisements served by Google, as detailed <a href="#GoogleAds">below</a>.
We do not attempt to block ad-blockers, and all functionality of the website will be, well, functional
if you employ a blocker as well as if you block cookies. The section below explains how you may opt out 
of personalized advertising.</p>
<h3 id="GoogleAds">Google Advertising Cookies</h3>
<p>Google uses cookies to help serve the ads it displays on the websites of its partners, 
such as websites displaying Google ads or participating in Google certified ad networks. 
When users visit a Google partner's website, a cookie may be dropped on that end user's browser.</p>
<ul>
<li>Third party vendors, including Google, use cookies to serve ads based on a user's prior visits 
to your website or other websites.</li>
<li>Google's use of advertising cookies enables it and its partners to serve ads to users based on 
their visit to this site and/or other sites on the Internet.</li>
<li>Users may opt out of personalized advertising by visiting <a href="https://www.google.com/settings/ads">Ads 
Settings</a> and/or <a href="https://www.aboutads.info/choices/">www.aboutads.info</a>.</li>
</ul>
</article>