TITLE
Publications - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
Vincent A. Cicirello has published over 60 refereed journal and conference 
papers on topics including artificial intelligence, genetic algorithms, 
evolutionary computation, swarm systems, computer-aided engineering, 
and computer science education.

PAGE_STYLE
details, details[open] summary {margin-bottom:12pt;}
summary {color:#862d2d; cursor:pointer;}
table {border-collapse:collapse; border: 2px solid #862d2d;}
th {text-align:left;color: #862d2d;}
td, th {padding:5px 10px; border: 1px solid #862d2d;}

CONTENT
<main itemprop="mainEntity" itemscope itemtype="https://schema.org/ItemList">
<article class="publist">
<h2 id="top" itemprop="name">Publications</h2>
<p itemprop="description"><a href="/">Vincent A. Cicirello</a> has published 
over 60 refereed journal and conference papers on topics including artificial 
intelligence, genetic algorithms, evolutionary computation, swarm intelligence, 
computer-aided engineering, and computer science education.</p>
<details>
<summary>My bibliometrics</summary>
<img src="/status/images/bibliometrics.svg" alt="Vincent A. Cicirello's bibliometrics" width="321" height="333" class="respimg">
</details>
<details>
<summary>Browse publications by year</summary>
<<INSERT_YEARS>>
</details>
<details>
<summary>Link label legend</summary>
<table>
<tr><th>Link</th><th>Links To</th></tr>
<tr><td>Title</td><td>Abstract/information page</td></tr>
<tr><td>[PDF]</td><td>Full-text pdf file</td></tr>
<tr><td>[BIB]</td><td>BibTeX file</td></tr>
<tr><td>[DOI]</td><td>Persistent link to publisher's version</td></tr>
<tr><td>[PUB]</td><td>Publisher's version</td></tr>
<tr><td>[arXiv]</td><td>Preprint on arXiv.org</td></tr>
<tr><td>[CODE]</td><td>Source code repository, such as to reproduce experimental results, etc</td></tr>
</table>
</details>
<<INSERT_PUBS>>
</article>
</main>
