TITLE
Publications - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
Vincent A. Cicirello has published over 50 refereed journal and conference 
papers on topics including artificial intelligence, genetic algorithms, 
evolutionary computation, swarm systems, computer-aided engineering, 
and computer science education.
