TITLE
Publications - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
Vincent A. Cicirello has published over 60 refereed journal and conference 
papers on topics including artificial intelligence, genetic algorithms, 
evolutionary computation, swarm systems, computer-aided engineering, 
and computer science education.

CONTENT
<main itemprop="mainEntity" itemscope itemtype="https://schema.org/ItemList">
<article class="publist">
<h2 id="top" itemprop="name">Publications</h2>
<p itemprop="description">
<a href="/">Vincent A. Cicirello</a> has published over 60 refereed journal and conference 
papers on topics including artificial intelligence, genetic algorithms, 
evolutionary computation, swarm systems, computer-aided engineering, 
and computer science education.
</p>
<img src="/status/images/bibliometrics.svg" alt="Vincent A. Cicirello's bibliometrics" width="321" height="333" class="respimg">
<p>The publications are organized by year of publication:</p>
<<INSERT_YEARS>>
<p>The title link for each publication leads to a page with the abstract and other information. Links are also provided for accessing the full-text in pdf format (PDF links), and the publisher's definitive version (DOI links or PUB links) for most papers. Follow the CODE links to source code repositories for papers where source code is publicly available such as for reproducing experimental results, etc. The BIB links provide bibtex entries.</p>
<<INSERT_PUBS>>
</article>
</main>
