TITLE
Professional Activities - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
Vincent A. Cicirello - Professor of Computer Science at Stockton University - serves as Editor in Chief
of Mobile Communications and Applications, as a member of the Editorial Board of Applied Sciences,
as an Area Editor for Scalable Information Systems, a member of the Steering
Committee for the Eastern Region of the CCSC, as a regular member of the Program Committees for several
computer science conferences, and regularly reviews papers for several journals and conferences. 

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Professional Activities</h2>
<p>I regularly contribute to the professional community in a variety of ways, including serving on editorial
boards, as well as on conference and professional society committees.  This page includes
a sampling of some of my professional activities.</p>

<section>
<h3>Consortium for Computing Sciences in Colleges (CCSC)</h3>
<ul>
<li><strong>Eastern Region Steering Committee:</strong> I have been a member of the
Steering Committee for the CCSC Eastern Region since 2012.  The Steering Committee
provides guidance and oversight for eastern regional activities, including the
<a href="http://www.ccsc-eastern.org/">annual regional conference</a>.</li>

<li>I have also frequently served as a paper reviewer for the annual eastern regional conference,
as well as occasionally for the northeastern regional conference, and have often served
as a poster judge or as a session chair at the eastern regional conference.</li>
</ul>
</section>
<section>
<h3>Journal Editorial Boards</h3>
<p>Current Editorial Boards:</p>
<ul>
<li><strong>Associate Editor</strong> (1/2024-present), <a href="https://cis.ieee.org/publications/t-evolutionary-computation">IEEE Transactions on Evolutionary Computation</a></li>
<li><strong>Special Issue Editor</strong> (8/2021-present), <i>Applied Sciences</i>,
<a href="https://www.mdpi.com/journal/applsci/special_issues/Evolutionary_Computation">Special
Issue on Evolutionary Computation: Theories, Techniques, and Applications</a></li>
<li><strong>Section Editor</strong> (6/2021-present), <a href="https://www.mdpi.com/journal/applsci">Applied Sciences</a>, Section on
Computing and Artificial Intelligence</li>
</ul>
<p>Past Editorial Boards:</p>
<ul>
<li><strong>Co-Editor-in-Chief</strong> (6/2021-12/2023), <a href="https://eudl.eu/journal/mca">EAI Transactions on Mobile Communications 
and Applications</a></li>
<li><strong>Area Editor</strong> (3/2020-12/2023), <a href="https://eudl.eu/journal/sis">Scalable 
Information Systems</a></li>
<li><strong>Topic Editor, Machine and Deep Learning</strong> (6/2021-5/2023): I
served as one of three Topic Editors for the Topic
<a href="https://www.mdpi.com/topics/Machine_Deep_Learning">Machine and Deep
Learning</a>, spanning the journals
(1) <a href="https://www.mdpi.com/journal/applsci">Applied Sciences</a>,
(2) <a href="https://www.mdpi.com/journal/BDCC">Big Data and Cognitive Computing</a>,
(3) <a href="https://www.mdpi.com/journal/mathematics">Mathematics</a>,
(4) <a href="https://www.mdpi.com/journal/electronics">Electronics</a>, and
(5) <a href="https://www.mdpi.com/journal/entropy">Entropy</a>.</li>
<li><strong>Co-Editor-in-Chief</strong> (5/2020-8/2021), <a href="https://eudl.eu/journal/cogcom">EAI Transactions on Cognitive
Communications</a></li>
</ul>
</section>
<section>
<h3>Conference Chair or Chair of Conference Committees</h3>
<p>I served as the chair of the following conference and conference committees:</p>
<ul>
<li><strong>Workshops, Tutorials, Panels Chair</strong>, 2018 Eastern Conference of the Consortium for Computing Sciences in Colleges</li>
<li><strong>Workshops, Tutorials, Panels Chair</strong>, 2017 Eastern Conference of the Consortium for Computing Sciences in Colleges</li>
<li><strong>Speakers Chair</strong>, 2016 Eastern Conference of the Consortium for Computing Sciences in Colleges</li>
<li><strong>Conference Chair</strong>, 2015 Eastern Conference of the Consortium for Computing Sciences in Colleges, hosted at Stockton University</li>
<li><strong>Special Tracks Chair</strong>, 2015 <a href="https://eudl.eu/proceedings/BICT/2015">9th EAI International Conference on Bio-inspired Information and Communications Technologies</a></li>
<li><strong>Program Committee Vice Chair</strong>, 2015 <a href="https://eudl.eu/proceedings/BICT/2015">9th EAI International Conference on Bio-inspired Information and Communications Technologies</a></li>
<li><strong>Track Co-Chair</strong>, 2015 EAI International Conference on Bio-inspired Information and Communications Technologies, Special Track on Combinatorial Optimization</li>
<li><strong>Poster Chair</strong>, 2014 Eastern Conference of the Consortium for Computing Sciences in Colleges</li>
<li><strong>Conference Chair</strong>, 2012 Eastern Conference of the Consortium for Computing Sciences in Colleges, which would have been held at Stockton University, but was canceled at the
last minute due to Hurricane Sandy. The conference proceedings was still published, and
most conference presentations rescheduled as part of the following year's conference.</li>
<li><strong>Local Arrangements Chair</strong>, 2005 IEEE Second Symposium on Multi-Agent Security and Survivability, held at Drexel University.</li>
<li><strong>Local Arrangements Chair</strong>, 2004 IEEE First Symposium on Multi-Agent Security and Survivability, held at Drexel University.</li>
</ul>
</section>


<section>
<h3>Conference Program Committees</h3>
<p>I serve (or have served) as a member of the program committees of many conferences,
including the following:</p>
<ul>
<li>International Conference of the <a href="https://www.flairs.com/">Florida Artificial Intelligence Research Society</a> (FLAIRS): every year since 2011 through 2024</li>
<li><a href="https://aaai.org/conference/eaai-symposia/">AAAI Symposium on Educational 
Advances in Artificial Intelligence</a>: EAAI 2024, EAAI 2023, EAAI 2022, EAAI 2021</li>
<li><a href="https://www.sigcse.org/">ACM Technical Symposium on Computer Science Education</a>: 
every year since 2009 through 2024</li>
<li><a href="https://ecta.scitevents.org/">International Conference on Evolutionary Computation 
Theory and Applications</a>: ECTA 2023, ECTA 2022, ECTA 2021</li>
<li>International Electronic Conference on Applied Sciences (ASEC): ASEC 2023</li>
<li><a href="https://aaai.org/conference/aaai/">AAAI Conference on Artificial 
Intelligence</a>: AAAI 2022, AAAI 2021, AAAI 2011, AAAI 2005</li>
<li><a href="https://futuretransport.eai-conferences.org/">EAI International Conference on 
Intelligent Transport Systems</a>: INTSYS 2022, INTSYS 2021</li>
<li><a href="https://bionetics.eai-conferences.org/">EAI International Conference on 
Bio-inspired Information and Communications Technologies</a>: BICT 2019, BICT 2017</li>
<li>IEEE Symposium on Computational Intelligence in Scheduling (CISched) in 2015, 2013, 2011, 2009, 2007
(this conference was held every two years)</li>
<li>11th IEEE International Conference on Open Source Systems and Technologies (IEEE ICOSST) in 2017</li>
<li>2016 IEEE Symposium on Computational Intelligence in Scheduling and Network Design (IEEE
CISND)</li>
<li>2016 IEEE CISND Special Session: Metaheuristics and Hybrid Methods for Combinatorial Optimization Problems</li>
<li>International Conference on Complex Distributed Systems: 
CODS 2011, CODS 2010, CODS 2009, CODS 2008, CODS 2007</li>
<li><a href="https://sig.sigevo.org/">Genetic and Evolutionary Computation Conference</a>: 
GECCO 2007, GECCO 2006, GECCO 2005</li>
<li>2006 European Conference on Complex Systems Workshop on Multi-Agents for 
Modeling Complex Systems (MA4CS '06).</li>
<li>International Joint Conference on Autonomous Agents and Multi-Agent Systems: 
AAMAS 2005, AAMAS 2004</li>
<li>2005 IEEE Second Symposium on Multi-Agent Security and Survivability</li>
<li>AAMAS Workshop on Engineering Self-Organizing Applications: ESOA 2006, ESOA 2005.</li>
<li>ICAPS 2005 Workshop on Constraint Programming for Planning and Scheduling (CPPS-05).</li>
<li>IJCAI 2001 Workshop on Artificial Intelligence and Manufacturing.</li>
</ul>
</section>



<section>
<h3>IEEE Conferences and Journals</h3>
<ul>
<li><strong>Reviewer</strong> for several IEEE journals and magazines, including:
<ul>
<li><a href="https://www.computer.org/csdl/magazine/co">IEEE Computer</a></li>
<li><a href="https://www.computer.org/csdl/magazine/ex">IEEE Intelligent Systems</a></li>
<li><a href="https://cis.ieee.org/publications/t-evolutionary-computation">IEEE Transactions on Evolutionary Computation</a></li>
<li><a href="https://www.computer.org/csdl/journal/tk">IEEE Transactions on Knowledge and Data Engineering</a></li>
<li><a href="https://www.computer.org/csdl/journal/td">IEEE Transactions on Parallel and Distributed Systems</a></li>
</ul>
</li>
<li><strong>Reviewer</strong> for the 2014 IEEE Symposium Series on Computational Intelligence (IEEE SSCI)</li>
</ul>
</section>
<section>
<h3>ACM Conferences and Journals</h3>
<ul>
<li><strong>Reviewer</strong> for the ACM's annual conference on Innovation and 
Technology in Computer Science Education: ITiCSE 2014, ITiCSE 2013, ITiCSE 2012, ITiCSE 2011
ITiCSE 2010.</li>
<li><strong>Reviewer</strong> for the journal: 
<a href="https://dl.acm.org/journal/taas">ACM Transactions on Autonomous and Adaptive Systems</a>.</li>
</ul>
</section>
<section>
<h3>Additional Conferences and Journals</h3>
<ul>

<li><strong>Reviewer</strong> for many other journals in addition to those
already listed in other sections, including:
<ul>
<li>Adaptive Behavior</li>
<li>AI Communications</li>
<li>AIEDAM AI for Engineering Design, Analysis and Manufacturing</li>
<li>Annals of Combinatorics</li>
<li>Annals of Operations Research</li>
<li>Applied Soft Computing</li>
<li>Autonomous Agents and Multi-Agent Systems</li>
<li>Computer-Aided Design</li>
<li>EAI Transactions on Cloud Systems</li>
<li>EAI Transactions on Energy Web</li>
<li>EAI Transactions on Industrial Networks and Intelligent Systems</li>
<li>EAI Transactions on Pervasive Health and Technology</li>
<li>Entropy</li>
<li>European Journal of Operational Research</li>
<li>Foundations of Data Science</li>
<li>Information Sciences</li>
<li>Journal of Computer and Information Science in Engineering</li>
<li>Journal of Heuristics</li>
<li>Journal of Intelligent Manufacturing</li>
<li>Journal of Machine Learning Research</li>
<li>Journal of Parallel and Distributed Computing</li>
<li>Journal of Scheduling</li>
<li>Journal of Supercomputing</li>
<li>Machine Learning Journal</li>
<li>Mathematics and Computers in Simulation</li>
<li>Results in Engineering</li>
<li>SoftwareX</li>
<li>SpringerPlus</li>
<li>Symmetry</li>
</ul>
</li>
<li><strong>Reviewer</strong> for other conferences in addition to those
already listed in other sections, including:
<ul>
<li>International Joint Conference on Artificial Intelligence: IJCAI 2007, IJCAI 2005.</li>
<li>2008 International Conference on Intelligent Computing (ICIC).</li>
<li>1999 ASME 4th Design for Manufacturing Conference (ASME DFM-99)</li>
</ul></li>
</ul>
</section>
</article>