TITLE
Open Source Software - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION
Open source software from the research of Vincent A. Cicirello, including Java libraries for evolutionary
computation and other metaheuristics, and code to reproduce experimental results from published papers.
Other software includes open source educational applications, as well as tools for automating software 
development workflows, and other utilities.

CONTENT
<article id="top" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Open Source Software</h2>
<p>Details on my various open source projects is organized on the following pages:</p>
<ul>
<li><a href="research/">Research Software</a></li>
<li><a href="csedu/">Computer Science Educational Software</a></li>
<li><a href="tools/">Open Source Tools</a></li>
</ul>
<p>I may have additional open source projects not included on my website. See
<a href="https://github.com/cicirello">my GitHub profile</a> for a complete list of my 
<a href="https://github.com/cicirello?tab=repositories">open source repositories</a>.</p>

<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6813707428591829" data-ad-slot="9837103127" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

<section id="where">
<h3>Where You Can Find My Software</h3>
<p>My open source software is available at the following sites:</p>
<ul>
<li><a href="https://github.com/cicirello"><img alt="Explore my open source projects on
GitHub" src="/images/mark-github-16.svg" width="20" height="20"> GitHub</a>
<ul>
<li><a href="https://github.com/cicirello">My GitHub profile</a>, with source-code repositories, etc</li>
<li><a href="https://gist.github.com/cicirello">GitHub gists</a></li>
</ul></li>
<li><a href="https://central.sonatype.com/namespace/org.cicirello"><img alt="Maven Central artifacts" src="/images/maven.svg" width="20" height="20"> Maven Central artifacts</a></li>
<li><a href="https://pypi.org/user/cicirello/"><img alt="PyPI packages" src="/images/pypi.svg" width="20" height="20"> Python packages on PyPI</a></li>
<li><a href="https://hub.docker.com/u/cicirello"><img alt="Docker Hub containers" src="/images/docker.svg" width="20" height="20"> Containers on Docker Hub</a></li>
</ul>
<p><a href="#top"><em>Top of the page</em></a></p>
</section>

<section id="ghstats">
<h3><img src="/status/images/userstats.svg" alt="Vincent A. Cicirello's GitHub Activity" width="447" height="795" class="respimg"></h3>
<p>The above summary of my activity on GitHub is updated nightly
by the <a href="https://github.com/marketplace/actions/user-statistician">user-statistician 
GitHub Action</a>.</p>
<p><a href="#top"><em>Top of the page</em></a></p>
</section>

</article>
