TITLE
Swarm Intelligence - Research - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION 
Swarm intelligence refers to multiagent systems whose behavior is motivated by models of 
naturally occurring swarming systems, such as social insect swarms (e.g., ants, wasps, etc).
My past research in this area includes applications of models of wasp task allocation and 
wasp social hierarchy formation to industrial scheduling and coordination problems, as well as 
multirobot coordination in space exploration, such as in planetary environments like Mars. I 
have also explored applications of swarming agents to data management and network monitoring 
on mobile ad hoc networks.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Swarm Intelligence</h2>
<p>Swarm intelligence refers to multiagent systems whose behavior is motivated by models 
of naturally occurring swarming systems, such as social insect swarms (e.g., ants, wasps, 
etc). Perhaps the most well-known example is Ant Colony Optimization (ACO), which is a family
of problem solvers inspired by ant pheromone trail following behavior. The two original forms
of ACO were the Ant System (Dorigo, Maniezzo, and Colorni, 1996) and the Ant Colony System
(Dorigo and Gambardella, 1997). Since those early works, many researchers have explored
the theory and applications for ACO. My past research in swarm intelligence includes 
applications of models of wasp task allocation and wasp social hierarchy formation to
industrial scheduling and coordination problems, as well as to multirobot coordination in 
space exploration. I have also explored applications of swarming agents to data management and 
network monitoring on mobile ad hoc networks.</p>

[[AD-1]]

<section>
<h3>Ant Colony Control</h3> 
<p>Much of the early work on ACO focused on solving
statically defined optimization problems, such as scheduling problems where all jobs or tasks are known
in advance, including all task characteristics (deadlines, process times, setup times, etc).
Essentially the early work on ACO was focused on combinatorial optimization problems. My
first exploration into swarm intelligence took some of the ACO concepts further into a 
dynamic problem. We developed Ant Colony Control 
(<a href="/publications/cicirello2001isads.html">Cicirello and Smith, ISADS 2001</a>), a
multiagent system where agents communicated indirectly using a pheromone trail following
approach to dynamically route jobs through a shop floor.</p>
</section>

<section>
<h3>Wasp Agents</h3>
<p>My next exploration into swarm-inspired problem solving
utilized computational models of wasp task allocation behavior and wasp dominance hierarchies.
The biological models that my work was based on was that of Theraulaz, Goss, Gervet, and 
Deneubourg (1991) who studied the behavior of wasps of the genus <i>Polistes</i>, the so-called
paper wasps. In the task allocation model, tasks give off stimuli, and each wasp has a threshold
for each type of task that the colony may need to complete. The model is probabilistic, and
as the strength of the stimulus for a task increases, the probability that a wasp begins that
task also increases. This probability is also dependent upon the individual wasp's threshold
for that task, with lower thresholds leading to higher probability of responding to a given
task stimulus. The response thresholds of the wasps adapt as well, enabling wasps to specialize
in tasks, with the colony adapting the specializations based on demand for tasks. In the dominance
hierarchy model, pairs of wasps engage in dominance contests, where the winner is probabilistic
and based on the so-called force variables. The force variable of the winner increases, while the
force variable of the loser decreases.</p>

[[AD-2]]

<p>In my research, I developed a multiagent system based on the wasp task allocation behavioral 
model for dynamic coordination within a factory environment. The earliest version 
(<a href="/publications/cicirello2001agents.html">Cicirello and Smith, AGENTS 2001</a>)
involved two agent types, routing wasps and scheduling wasps, the former in charge of routing jobs to
relevant machines, and the latter then dynamically sequenced the jobs within a machine's queue.
We then improved the agent model by incorporating ideas from the wasp dominance hierarchy model
(<a href="/publications/cicirello2001sigman2.html">Cicirello and Smith, IJCAI-01 SIGMAN 2001</a>).
A variety of other improvements (e.g., <a href="/publications/cicirello2002wrac.html">Cicirello 
and Smith, WRAC 2002</a>) eventually culminated in work focused on an industrial factory problem
involving vehicle paint booths (<a href="/publications/cicirello2004jaamas.html">Cicirello and Smith, 
JAAMAS 2004</a>).</p>

<p>As part of my swarm intelligence research, I have also formally studied why these systems
are effective. In particular, I have used game theory to analyze the Ant Colony Control
(<a href="/publications/cicirello2001cmu1.html">Cicirello, 2001</a>) and wasp-like multiagent 
systems (<a href="https://reports.cicirello.org/08/002/">Cicirello, 2008</a>) models of agent 
coordination.</p>
</section>

<section>
<h3>WHISTLING</h3>
<p>I expanded upon the wasp-inspired multiagent systems work (see above section) into a 
stochastic sampling algorithm for solving scheduling problems and other combinatorial
optimization problems. This consisted in developing an algorithm called WHISTLING, which
is an acronym for <strong>W</strong>asp be<strong>H</strong>avior <strong>I</strong>nspired 
<strong>ST</strong>ochastic Samp<strong>LING</strong>. This work began with a preliminary
exploration of how to utilize the wasp behavior model for a statically defined problem,
including an experimental comparison of several tournament style approaches involving
wasps competing in dominance tournaments to generate an ordering over jobs in a machine
scheduling problem (<a href="/publications/cicirello2001aaaifa.html">Cicirello and Smith, 
AAAI Fall Symposium, 2001</a>). That preliminary work formed the foundation for the
WHISTLING algorithm itself (<a href="/publications/cicirello2002cp.html">Cicirello and Smith, 
CP 2002</a>). The WHISTLING algorithm was also one of the components of a multirobot
space exploration project, Federation of Intelligent Robotic Explorers (FIRE). The FIRE
project was focused on a team of autonomous robots exploring a planetary environment, such
as Mars. The robots of FIRE utilized a market-based approach with robots bidding on tasks
based on their capabilities (<a href="/publications/cicirello2003mrs.html">Goldberg et al, 
MRS 2003</a>; <a href="/publications/cicirello2002nasa.html">Goldberg et al, 2002</a>). Once 
allocated to a robot, the WHISTLING algorithm would compute a schedule for completing the 
tasks.</p>
</section>

<section>
<h3>Swarming Agents on Mobile Ad Hoc Networks</h3>
<p>The Secure Wireless Agent Testbed (SWAT) and the Philadelphia Area Urban Wireless 
Network Testbed (PA-UWNT) projects at Drexel University utilized swarms of mobile agents for a 
variety of tasks (<a href="/publications/cicirello2004ieeeis.html">Cicirello, et al, IEEE 
Intelligent Systems, 2004</a>), including data management and network monitoring on mobile ad hoc networks 
(MANETs). Among the research of these projects include agent swarms that self-adapt their
population size to balance the need for agents to complete monitoring tasks with the
resource limitations of mobile devices operating on a MANET 
(<a href="/publications/cicirello2004faabs.html">Peysakhov, Cicirello, and Regli, 
FAABS 2004</a>), and design patterns for mobile swarming agents 
(<a href="/publications/cicirello2005mass2.html">Cicirello, Mroczkowski, and Regli, 
IEEE MAS&amp;S 2005</a>).</p>
</section>

<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<VAC-TR-08-002>>
<<MASS2005-2>>
<<IEEE-IS-2004>>
<<JAAMAS2004>>
<<FAABS2004>>
<<MULTIROBOT2003>>
<<SPACE2002>>
<<CP2002>>
<<SIAM2002>>
<<WRAC2002>>
<<TECH2001-2>>
<<AAAIFALL2001>>
<<TECH2001>>
<<SIGMAN2001-2>>
<<SIGMAN2001-1>>
<<AGENTS2001>>
<<ISADS2001>>
</ul>
</section>
</article>
