TITLE
Swarm Intelligence - Research - Vincent A. Cicirello - Professor of Computer Science

DESCRIPTION 
Swarm intelligence refers to multiagent systems whose behavior is motivated by models of naturally occurring swarming systems, such as social insect swarms
(e.g., ants, wasps, etc).  My past research in this area includes applications of models of wasp task allocation and wasp social hierarchy formation to
industrial scheduling and coordination problems, as well as multirobot coordination in space exploration.  I have also explored applications of swarming agents
to data management and network monitoring on mobile ad hoc networks.

CONTENT
<article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
<h2>Swarm Intelligence</h2>
<p>Swarm intelligence refers to multiagent systems whose behavior is motivated by models of naturally occurring swarming systems, such as social insect swarms
(e.g., ants, wasps, etc).  My past research in this area includes applications of models of wasp task allocation and wasp social hierarchy formation to
industrial scheduling and coordination problems, as well as multirobot coordination in space exploration.  I have also explored applications of swarming agents
to data management and network monitoring on mobile ad hoc networks.</p>
<section class="publist">
<h3>Selected Publications</h3>
<ul itemscope itemtype="https://schema.org/ItemList">
<<MASS2005-2>>
<<IEEE-IS-2004>>
<<JAAMAS2004>>
<<FAABS2004>>
<<SIAM2002>>
<<WRAC2002>>
<<TECH2001-2>>
<<AAAIFALL2001>>
<<TECH2001>>
<<SIGMAN2001-2>>
<<SIGMAN2001-1>>
<<AGENTS2001>>
<<ISADS2001>>
</ul>
</section>
</article>
