TITLE
Weighted Tardiness Scheduling with Sequence-Dependent Setups

DESCRIPTION
This benchmark set for Weighted Tardiness Scheduling with Sequence Dependent Setups was created 
as part of the Dissertation research of Vincent Cicirello at Carnegie Mellon University. It 
includes the instances, current best known solutions, a problem generator, and relevant publications.

CONTENT
<article id="wtsds" itemprop="mainEntity" itemscope itemtype="https://schema.org/Dataset">
<h2 itemprop="name">Weighted Tardiness Scheduling with Sequence-Dependent Setups</h2>
<p>This set of benchmark instances for the problem known as Weighted Tardiness 
Scheduling with Sequence Dependent Setups 
originated in <time datetime="2003" itemprop="datePublished">2003</time> as part of the 
Ph.D. Dissertation research of 
<span itemprop="author creator" itemscope itemtype="https://schema.org/Person"><a itemprop="url mainEntityOfPage" href="/"><span itemprop="name">Vincent A. Cicirello</span></a></span> 
from Carnegie Mellon University's 
Robotics Institute.  
<span itemprop="description">Weighted Tardiness Scheduling with 
Sequence-Dependent Setups is an NP-Hard single machine scheduling problem.  The problem instances
in this benchmark set have varying levels of duedate tightness, duedate range, and setup time severity.
This benchmark set includes the instances, the current best 
known solutions, a problem generator, and links to relevant publications.</span> The
benchmark set is licensed under  
the <a itemprop="license" href="https://github.com/cicirello/scheduling-benchmarks/blob/master/LICENSE">MIT 
license</a>.</p>

<p>There are multiple ways of downloading the benchmark instances:</p>
<ul>
<li itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">You can download the benchmark instances here as a zip file 
(<a itemprop="contentUrl" href="/datasets/wtsds/wtsds-instances.zip">wtsds-instances.zip</a>), 
containing the instances in plain <span itemprop="encodingFormat">text</span> files.</li>
<li itemprop="distribution" itemscope itemtype="https://schema.org/DataDownload">The benchmark set
is also available in 
a <a itemprop="contentUrl" href="https://github.com/cicirello/scheduling-benchmarks/tree/master/wtsds">GitHub repository</a>,
which contains the instances in plain <span itemprop="encodingFormat">text</span> files.</li>
<li>Alternatively, the benchmark set is available from: <a itemprop="identifier" href="http://dx.doi.org/10.7910/DVN/VHA0VQ">Harvard Dataverse</a>.</li>
</ul>

<p>For Java source code to generate instances of the problem, see the <a href="/software/">Open Source Software</a> tab.</p>

<h3>How to Cite</h3>
<p>To cite this benchmark problem set in your research, cite the following technical report:</p>
<ul>
<li itemprop="citation">Cicirello, V.A. (2003). 
<a href="https://www.cicirello.org/publications/cicirello2003cmu.html"><i>Weighted 
tardiness scheduling with sequence-dependent setups: A benchmark library</i></a> [Technical Report]. 
Intelligent Coordination and Logistics Laboratory, Robotics Institute, 
Carnegie Mellon University, Pittsburgh, PA.</li>
</ul>

<section class="publist" itemscope itemtype="https://schema.org/ItemList">
<h3>Publications Associated with this Benchmark Set:</h3>
<h4>Original appearance, description of the benchmark set:</h4>
<ul>
<<CMU-THESIS>>
<<TECH2003>>
</ul>
<h4>The Java implementation of the problem set generator was first available in conjunction with the following publication:</h4>
<ul>
<<ICAPS-Workshop-2007>>
</ul>
<h4>Various updates of the best known solutions:</h4>
<ul>
<<FLAIRS2010>>
<<WSC12>>
<<CP-Workshop-2007>>
<<GECCO2006>>
<<AAAI2005>>
<<VBSS>>
</ul>
</section>
</article>
