header, nav, footer, article, aside, section {display:block;}

footer {clear:both;}

body {
	background-color: #f6f0bb;
	margin: 10px;
	/*font-family: Verdana, Geneva, sans-serif;*/
	font-family: Arial, Helvetica, sans-serif;
}

#siteheader, aside, footer, #siteheader nav ul {
	background-color: #bfd9bf;
}

#siteheader, aside, footer, article {
	border: 2px solid #4CAF50;
	border-radius: 25px;
}

#siteheader, article {
	margin-bottom: 5px;
}

#siteheader {
	padding: 12px;
}

h1, h2, h3, h4, h5, h6, #courses strong {
	color: #862d2d;
	font-weight: bold;
}

#siteheader h2 {
	font-size: 2em;
}

a {
	color: #4CAF50; /*#305030;*/
	/*font-weight: bold;*/
}

/* consider changing this */
a:visited {
	color: #862d2d;
}

aside h4 {
	display: inline;
}

header nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

header nav li {
    float: left;
	margin-right: 5px;
}

header nav li a {
    display: block;
	background-color: #f6f0bb;
	border: 2px solid #4CAF50;
	border-bottom: none;
	border-radius: 12px 12px 0px 0px;
	color: #666;
    text-align: center;
    padding: 8px 16px; /* 14px 16px; */
    text-decoration: none;
}

header nav li a:visited {
	color: #666;
}

/* Change the link color on hover */
header nav li a:hover:not(.active) {
    background-color: #305030; 
	color: white; 
}

header nav li a.active {
    background-color: #4CAF50;
}

aside {
	float: left;
	width: 235px;
	padding: 6px;
	margin-bottom: 5px;
}

article {
	float: right;
	width: calc(100% - 280px);
	padding: 6px;
}

article li {
	margin-bottom: 8px;
	margin-top: 8px;
}

#publications li, section.publist li, section.courselist li {
	margin-bottom: 15px;
}

#publications ul, section.publist, section.courselist ul {
	margin-bottom: 30px;
}

#pubyears {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

#pubyears li {
	float: left;
	margin: 0px 8px 8px 0px;
}



section.courselist ul {
	list-style-type: none;
}

footer {
	padding: 8px;
}

#copyright {
	text-align: center;
	color: #862d2d;
	font-weight: bold;
}

#w3css {
	text-align: right;
}

@media screen and (max-width: 600px){
    /*header nav ul li.right,
    header nav ul li {float: none; border: 1px solid #4CAF50; border-left: 2px solid #4CAF50; border-right: 2px solid #4CAF50; */
	/* border-bottom: 1px solid #bbb; border-right: none; */ /*}*/
	/* header nav li:last-child {border-bottom: none; border-right: none;} */
	/*header nav li:last-child {border-bottom: 2px solid #4CAF50;}
	header nav li:first-child {border-top: 2px solid #4CAF50;}*/
	aside {clear: both;}
	article {clear: both; width: calc(100% - 16px);}
}

