header, nav, footer, article, aside, section {display:block;}

footer {clear:both; padding: 8px;}

body {
	background-color: #f6f0bb;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#siteheader, aside, footer {
	background-color: #bfd9bf;
}

#siteheader, aside, footer, article {
	border: 2px solid #4CAF50;
	border-radius: 25px;
}

#siteheader, article {
	margin-bottom: 5px;
}

#siteheader {
	padding: 12px;
}

h1, h2, h3, h4, h5, h6, strong {
	color: #862d2d;
	font-weight: bold;
}

#siteheader h2 {
	font-size: 2em;
}

a {
	color: #4CAF50; 
}

a:visited {
	color: #862d2d;
}

header nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

header nav li {
    float: left;
	margin-right: 5px;
}

header nav li a {
    display: block;
	background-color: #f6f0bb;
	border: 2px solid #4CAF50;
}

header nav li a:not(.menu-icon) {
	color: #666;
	border-bottom: none;
	border-radius: 12px 12px 0px 0px;
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
}

header nav li a.menu-icon {
	display: none;
	padding: 2px 2px 0px 2px;
}

header nav li a:visited {
	color: #666;
}

header nav li a:hover:not(.active) {
    background-color: #305030; 
	color: white; 
}

header nav li a.active {
    background-color: #4CAF50;
}

aside {
	float: left;
	width: 235px;
	padding: 6px;
	margin-bottom: 5px;
}

aside h4 {
	display: inline;
}

article {
	float: right;
	width: calc(100% - 280px);
	padding: 6px;
}

article li {
	margin-bottom: 8px;
	margin-top: 8px;
}

.publist li {
	margin-bottom: 15px;
}

.publist ul {
	margin-bottom: 30px;
}

section {
	margin-top: 30px;
}

#pubyears {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;
}

#pubyears li {
	float: left;
	margin: 0px 8px 8px 0px;
}


#copyright {
	text-align: center;
	color: #862d2d;
	font-weight: bold;
}

#w3css {
	text-align: right;
}

@media screen and (max-width: 600px){
	aside {clear: both;}
	article {clear: both; width: calc(100% - 16px);}
	header nav li a:not(.active) { display: none; }
	header nav li a.menu-icon, header nav.open li a {display: block; }
}

